@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3c99fd;
  border-radius: 5px;
}

.text-fade {
  background: linear-gradient(to left, #194db4, #3c99fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tag {
  background-color: #3c99fd76;
  border: 2px solid #3c99fd;
  padding: 2px 16px;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
}
.tag:hover {
  background-color: #3c99fd;
}
.svg {
  width: 98px;
  height: 98px;
}
