<section
  id="habilidades"
  class="relative h-screen flex flex-col items-center justify-center gap-12 text-slate-50 text-sm snap-start"
>
  <div class="flex flex-row gap-12">
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//javascript.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#f0db4f] border-2 bg-[#f0da4f82]"
        >JavaScript</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//typescript.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#3178c6] border-2 bg-[#3178c682]"
        >TypeScript</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//html5.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#e34f26] border-2 bg-[#e34f2682]"
        >Html</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//css.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#663399] border-2 bg-[#66339982]"
        >Css</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//python.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#ffd94b] border-2 bg-[#ffd94b82]"
        >Python</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//kotlin.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#cb19cd] border-2 bg-[#cb19cd82]"
        >Kotlin</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//java.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#5382a1] border-2 bg-[#5382a182]"
        >Java</span
      >
    </div>
  </div>
  <div class="flex flex-row gap-12">
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//astro_dark.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#ff5d01] border-2 bg-[#ff5d0182]"
        >Astro</span
      >
    </div>

    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//tailwindcss.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#38bdf8] border-2 bg-[#38bdf882]"
        >Tailwind</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//flask-dark.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#8c8f94] border-2 bg-[#8c8f9482]"
        >Flask</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//spring.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#68bd45] border-2 bg-[#68bd4582]"
        >SpringBoot</span
      >
    </div>

    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//mysql.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#00546b] border-2 bg-[#00546b82]"
        >MySQL</span
      >
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Portfolio//supabase.svg" alt="" class="svg" />
      <span
        class="px-4 py-[2px] rounded-2xl border-[#3ecf8e] border-2 bg-[#3ecf8e82]"
        >Supabase</span
      >
    </div>
  </div>

  <div
    class="w-0 h-0 absolute top-0 left-[-200px] shadow-[10px_10px_150px_150px_#3c99fd99]"
  >
  </div>
  <div
    class="w-0 h-0 absolute bottom-0 right-[-200px] shadow-[10px_10px_150px_150px_#3c99fd99]"
  >
  </div>
</section>
