<header class="fixed top-0 rounded-3xl my-3 z-10 backdrop-blur-3xl">
  <ul class="flex flex-row justify-center gap-8 py-3 px-5">
    <li
      class="text-slate-400 tracking-wider duration-300 cursor-pointer hover:text-slate-50"
    >
      <a href="#presentacion">Presentación</a>
    </li>
    <li
      class="text-slate-400 tracking-wider duration-300 cursor-pointer hover:text-slate-50"
    >
      <a href="#proyectos">Proyectos</a>
    </li>
    <li
      class="text-slate-400 tracking-wider duration-300 cursor-pointer hover:text-slate-50"
    >
      <a href="#habilidades">Habilidades</a>
    </li>
  </ul>
</header>
