---
import sprite from "../assets/icons.svg?raw";
import FormularioContacto from "./FormularioContacto.astro";
---

<fragment set:html={sprite} />

<header
  class="fixed bg-transparent lg:backdrop-blur-md top-0 flex items-center justify-between w-full px-5 py-3 lg:w-[50%] lg:r-[50%] lg:top-8 lg:translate-x-1/2 rounded-4xl lg:shadow-lg lg:shadow-primary-shadow z-999"
>
  <button
    id="themeBtn"
    class="z-100 p-2 size-10 flex items-center justify-center rounded-4xl border border-primary-border hover:bg-primary-bg-hover"
  >
    <svg class="size-5 fill-primary-text">
      <use xlink:href={`#dark-mode`}></use>
    </svg>
  </button>
  <button
    id="menuBtn"
    class="z-100 lg:hidden p-2 size-10 flex items-center justify-center rounded-4xl border border-primary-border hover:bg-hover-bg"
  >
    <svg class="size-5 fill-primary-text">
      <use xlink:href={`#menu`}></use>
    </svg>
  </button>
  <div
    id="menu-list"
    class="hidden lg:flex lg:flex-row lg:h-0 lg:gap-8 lg:w-[70%] lg:justify-between lg:relative fixed top-0 left-0 flex flex-col gap-6 bg-primary-bg w-screen h-screen items-center justify-center z-50"
  >
    <div class="flex lg:flex-row flex-col gap-4 text-center">
      <a href="#about-me" class="links text-primary-text hover:text-gray-600"
        >Sobre mi</a
      >
      <a href="#proyectos" class="links text-primary-text hover:text-gray-600"
        >Proyectos</a
      >
      <a href="#skills" class="links text-primary-text hover:text-gray-600"
        >Habilidades</a
      >
    </div>
    <button
      id="contactBtn"
      class="transition-opacity bg-accent-blue hover:bg-accent-blue-hover text-white
        border border-accent-blue rounded-3xl px-4 py-2 w-fit fill-white shadow-md shadow-accent-blue/50
        hover:bg-hover-bg hover:border-accent-blue-hover"
      >Contacto</button
    >
  </div>

  <FormularioContacto />
</header>
<script type="module">
  const links = document.querySelectorAll(".links");
  links.forEach((link) => {
    link.addEventListener("click", () => {
      document.getElementById("menu-list").classList.add("hidden");
      svgUse.setAttribute("xlink:href", "#menu");
    });
  });

  const menuBtn = document.getElementById("menuBtn");
  const menuList = document.getElementById("menu-list");
  const svgUse = menuBtn.querySelector("svg use");
  const svg = menuBtn.querySelector("svg");

  menuBtn.addEventListener("click", () => {
    menuList.classList.toggle("hidden");

    if (menuList.classList.contains("hidden")) {
      svgUse.setAttribute("xlink:href", "#menu");
    } else {
      svgUse.setAttribute("xlink:href", "#cross");
    }
  });

  document.getElementById("contactBtn").addEventListener("click", () => {
    const formulario = document.getElementById("formulario-contacto");
    if (formulario.classList.contains("hidden")) {
      formulario.classList.remove("hidden");
    } else {
      formulario.classList.add("hidden");
    }
  });

  const themeBtn = document.getElementById("themeBtn");
  const svgUseTheme = themeBtn.querySelector("svg use");
  themeBtn.addEventListener("click", () => {
    let currentTheme =
      document.documentElement.getAttribute("data-theme") || "light";

    if (currentTheme === "dark") {
      document.documentElement.setAttribute("data-theme", "light");
      svgUseTheme.setAttribute("xlink:href", "#dark-mode");
    } else {
      document.documentElement.setAttribute("data-theme", "dark");
      svgUseTheme.setAttribute("xlink:href", "#light-mode");
    }
  });
</script>
