---
import LinkIcon from "./icons-components/LinkIcon.astro";
---

<section
  id="proyectos"
  class="h-screen flex items-center justify-between mx-[200px] text-slate-50"
>
  <div class="w-[45%] flex flex-col gap-3">
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold text-blue-500">Astroblocks</h1>
      <a
        href="https://github.com/albxrtx/astro-blocks"
        target="_blank"
        class="flex items-center justify-center gap-1 w-fit px-3 rounded-2xl border-[#8c8f94] border-2 bg-[#8c8f94] bg-opacity-60 hover:bg-opacity-100"
      >
        <LinkIcon />
        Github
      </a>
    </div>
    <p class="text-slate-200">
      Descarga múltiples componentes para tus proyectos en Astro
    </p>
    <div class="overflow-hidden duration-[2s] rounded-xl">
      <img
        src="/Portfolio/project2.webp"
        alt="imagen proyecto"
        class="w-[100%] hover:scale-105 transition-transform"
      />
    </div>
    <div class="flex justify-between items-center w-[100%] text-sm">
      <div class="flex gap-2">
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#ff5d01] border-2 bg-[#ff5d01] bg-opacity-60"
          >Astro</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#38bdf8] border-2 bg-[#38bdf8] bg-opacity-60"
          >Tailwind</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#f0db4f] border-2 bg-[#f0db4f] bg-opacity-60"
          >JavaScript</span
        >
      </div>
    </div>
  </div>
  <!-- *** -->
  <div class="w-[45%] flex flex-col gap-3">
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold text-blue-500">GESA</h1>
      <a
        href="https://github.com/albxrtx/GESA"
        target="_blank"
        class="flex items-center justify-center gap-1 w-fit px-3 rounded-2xl border-[#8c8f94] border-2 bg-[#8c8f94] bg-opacity-60 hover:bg-opacity-100"
      >
        <LinkIcon />
        Github
      </a>
    </div>
    <p class="text-slate-200">
      Herramienta para organizar y aumentar la productividad de la empresa
    </p>
    <div class="overflow-hidden duration-[2s] rounded-xl">
      <img
        src="/Portfolio//project1.webp"
        alt="imagen proyecto"
        class="w-[100%] hover:scale-105 transition-transform"
      />
    </div>
    <div class="flex justify-between items-center w-[100%] text-sm">
      <div class="flex gap-2">
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#f0db4f] border-2 bg-[#f0db4f] bg-opacity-60"
          >Python</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-orange-500 border-2 bg-orange-500 bg-opacity-60"
          >Html</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#663399] border-2 bg-[#663399] bg-opacity-60"
          >Css</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#f0db4f] border-2 bg-[#f0db4f] bg-opacity-60"
          >JavaScript</span
        >
        <span
          class="flex items-center justify-center gap-1 w-fit px-4 py-[2px] rounded-2xl border-[#8c8f94] border-2 bg-[#8c8f94] bg-opacity-60"
          >Flask</span
        >
      </div>
    </div>
  </div>
  <!-- *** -->
</section>
