<div class="absolute bottom-5 flex flex-col items-center justify-center gap-4">
  <span class="z-5 text-sm text-gray-400">Desliza para ver más</span>
  <svg class="z-5 size-3 fill-gray-400 animate-bounce">
    <use xlink:href={`#arrows`}></use>
  </svg>
</div>
