<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="picture.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Alberto Marian</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1f29;
    margin: 0;
    scroll-snap-type: y mandatory;
  }
</style>
